In [2]:
import numpy as np
import pandas as pd

#DB가져오기
boonja = pd.read_excel("원자재.xlsx", engine="openpyxl")
boonmo = pd.read_excel("전체.xlsx", engine="openpyxl")
HDI = pd.read_excel("Human Development Index (HDI).xlsx", engine="openpyxl")

In [3]:
#사하라 이남 아프리카 국가 목록
SubSahara = ["Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cabo Verde", "Cameroon", 
             "Central African Republic", "Chad", "Comoros", "Congo", "Côte d'Ivoire", "Djibouti", 
             "Equatorial Guinea", "Eritrea", "Eswatini", "Ethiopia","Ethiopia (+ Eritrea)", "Gabon", 
             "The Gambia", "Ghana", "Guinea", "Guinea-Bissau", "Kenya", "Lesotho", "Liberia", "Madagascar", 
             "Malawi", "Mali", "Mauritania", "Mauritius", "Mozambique", "Namibia", "Niger", "Nigeria", "Rwanda", 
             "Sao Tomé and Principe", "Senegal", "Seychelles", "Sierra Leone", "Somalia", "South Africa", "Sudan", 
             "Tanzania", "Togo", "Uganda", "Zambia", "Zimbabwe"]

#사하라 이남 국가들만 모아두기
SubJa = pd.DataFrame()
#사하라 이남 국가들만 모아두기
noSubJa = pd.DataFrame()
#사하라 이남 국가들만 모아두기
SubMo = pd.DataFrame()
#사하라 이남 국가들만 모아두기
noSubMo = pd.DataFrame()

In [5]:
#자료 정리 - boonja1으로 사용
boonja1 = boonja.drop([0], axis=0)
rename_col = np.array(boonja.iloc[1])
rename_col[3:] = np.array(rename_col[3:], dtype=np.int16)
boonja1.columns = rename_col

In [6]:
#자료 정리 - boonmo1으로 사용
boonmo1 = boonmo.drop([0], axis=0)
rename_col = np.array(boonmo.iloc[1])
rename_col[3:] = np.array(rename_col[3:], dtype=np.int16)
boonmo1.columns = rename_col

In [7]:
#전체 국가 숫자
country_num = len(boonja1)
country_num1 = len(boonmo1)
# print(country_num==country_num)

In [8]:
boonja1 = boonja1.drop(['Product/Sector', 'Partner Economy'], axis=1)
boonmo1 = boonmo1.drop(['Product/Sector', 'Partner Economy'], axis=1)

In [9]:
#사하라이남국가와 아닌 국가로 df 나누기(분자)
for i in range(1, country_num):
    if boonja1.iloc[i]["Reporting Economy"] in SubSahara:
        SubJa = SubJa.append(boonja1.iloc[i], ignore_index=True)
    else:
        noSubJa = noSubJa.append(boonja1.iloc[i], ignore_index=True)

In [10]:
#사하라이남국가와 아닌 국가로 df 나누기(분모)
for i in range(1, country_num):
    if boonmo1.iloc[i]["Reporting Economy"] in SubSahara:
        SubMo = SubMo.append(boonmo1.iloc[i], ignore_index=True)
    else:
        noSubMo = noSubMo.append(boonmo1.iloc[i], ignore_index=True)

In [11]:
a = np.array(SubJa["Reporting Economy"])
b = np.array(SubMo["Reporting Economy"])
print(a)
print(b)

['Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Comoros' 'Congo' "Côte d'Ivoire"
 'Djibouti' 'Eritrea' 'Eswatini' 'Ethiopia' 'Ethiopia (+ Eritrea)' 'Gabon'
 'The Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho'
 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Mozambique'
 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Sao Tomé and Principe' 'Senegal'
 'Seychelles' 'Sierra Leone' 'South Africa' 'Sudan' 'Tanzania' 'Togo'
 'Uganda' 'Zambia' 'Zimbabwe']
['Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "Côte d'Ivoire" 'Djibouti' 'Equatorial Guinea' 'Eritrea' 'Eswatini'
 'Ethiopia' 'Gabon' 'The Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya'
 'Lesotho' 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria']

In [12]:
k = np.intersect1d(a,b)
print(k)

['Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Comoros' 'Congo' "Côte d'Ivoire"
 'Djibouti' 'Eritrea' 'Eswatini' 'Ethiopia' 'Gabon' 'Ghana' 'Guinea'
 'Guinea-Bissau' 'Kenya' 'Lesotho' 'Madagascar' 'Malawi' 'Mali'
 'Mauritania' 'Mauritius' 'Mozambique' 'Namibia' 'Niger' 'Nigeria'
 'The Gambia']

In [13]:
temp_df1 = pd.DataFrame()
for i in range(len(a)):
    if SubJa.iloc[i]["Reporting Economy"] in k:
        temp_df1 = temp_df1.append(SubJa.iloc[i], ignore_index=True)
temp_df2 = pd.DataFrame()
for i in range(len(b)):
    if SubMo.iloc[i]["Reporting Economy"] in k:
        temp_df2 = temp_df2.append(SubMo.iloc[i], ignore_index=True)

In [14]:
print(temp_df1["Reporting Economy"])

0                       Angola
1                        Benin
2                     Botswana
3                 Burkina Faso
4                      Burundi
5                   Cabo Verde
6                     Cameroon
7     Central African Republic
8                      Comoros
9                        Congo
10               Côte d'Ivoire
11                    Djibouti
12                     Eritrea
13                    Eswatini
14                    Ethiopia
15                       Gabon
16                  The Gambia
17                       Ghana
18                      Guinea
19               Guinea-Bissau
20                       Kenya
21                     Lesotho
22                  Madagascar
23                      Malawi
24                        Mali
25                  Mauritania
26                   Mauritius
27                  Mozambique
28                     Namibia
29                       Niger
30                     Nigeria
Name: Reporting Economy, dtype: object

In [15]:
print(temp_df2["Reporting Economy"])

0                       Angola
1                        Benin
2                     Botswana
3                 Burkina Faso
4                      Burundi
5                   Cabo Verde
6                     Cameroon
7     Central African Republic
8                      Comoros
9                        Congo
10               Côte d'Ivoire
11                    Djibouti
12                     Eritrea
13                    Eswatini
14                    Ethiopia
15                       Gabon
16                  The Gambia
17                       Ghana
18                      Guinea
19               Guinea-Bissau
20                       Kenya
21                     Lesotho
22                  Madagascar
23                      Malawi
24                        Mali
25                  Mauritania
26                   Mauritius
27                  Mozambique
28                     Namibia
29                       Niger
30                     Nigeria
Name: Reporting Economy, dtype: object

In [16]:
print(temp_df1.iloc[0])

Reporting Economy     Angola
1990                  3899.0
1991                  3399.0
1992                  3451.0
1993                  3733.0
1994                  2902.0
1995                  3522.0
1996                  4780.0
1997                  4630.0
1998                  3091.0
1999                  4490.0
2000                  7120.0
2001                  5803.0
2002                  7706.0
2003                  9126.0
2004                 13221.0
2005                 23357.0
2006                 31204.0
2007                 42394.0
2008                 62721.0
2009                 39435.0
2010                 49283.0
2011                 65762.0
2012                 69428.0
2013                 67661.0
2014                 58617.0
2015                 32250.0
2016                 26574.0
2017                 33909.0
2018                 38769.0
2019                 33955.0
Name: 0, dtype: object

In [24]:
temp_df3 = pd.DataFrame()
for i in range(31):
    temp_arr =[temp_df1.iloc[i]['Reporting Economy']]
    for j in range(1990,2020):
        col = str(j)
        percent = round(temp_df1.iloc[i][j] / temp_df2.iloc[i][j] * 100,2)
        temp_arr.append(percent)
    temp_sr = pd.Series(temp_arr, index=temp_df1.index)
    temp_df3 = temp_df3.append(temp_sr, ignore_index=True)

In [25]:
temp_df3.to_excel('의존율_사하라이남.xlsx')

In [29]:
c = np.array(noSubJa["Reporting Economy"])
d = np.array(noSubMo["Reporting Economy"])
m = np.intersect1d(c,d)
print(m)

['Afghanistan' 'Albania' 'Algeria' 'Antigua and Barbuda' 'Argentina'
 'Armenia' 'Aruba, the Netherlands with respect to' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain, Kingdom of' 'Bangladesh' 'Barbados'
 'Belarus' 'Belgium' 'Belgium-Luxembourg' 'Belize' 'Bermuda' 'Bhutan'
 'Bolivia, Plurinational State of' 'Bosnia and Herzegovina' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Cambodia' 'Canada' 'Chile' 'China'
 'Colombia' 'Cook Islands' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Czech Republic' 'Czech and Slovak Federal Republic' 'Denmark' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia'
 'European Union' 'Fiji' 'Finland' 'France' 'French Guiana'
 'French Polynesia' 'Georgia' 'Germany' 'Greece' 'Greenland' 'Grenada'
 'Guadeloupe' 'Guatemala' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kiribati'
 'Korea, Republic of' 'Kuwait, the State of' 'Kyrgyz Republic'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanese Republic' 'Libya'
 'Lithuania' 'Luxembourg' 'Macao, China' 'Malaysia' 'Maldives' 'Malta'
 'Martinique' 'Mexico' 'Micronesia, Federated States of'
 'Moldova, Republic of' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco'
 'Myanmar' 'Nepal' 'Netherlands' 'Netherlands Antilles' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'North Macedonia' 'Norway' 'Oman' 'Pakistan'
 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'World']

In [30]:
len(m)

114

In [31]:
temp_df4 = pd.DataFrame()
for i in range(len(c)):
    if noSubJa.iloc[i]["Reporting Economy"] in m:
        temp_df4 = temp_df4.append(noSubJa.iloc[i], ignore_index=True)
temp_df5 = pd.DataFrame()
for i in range(len(d)):
    if noSubMo.iloc[i]["Reporting Economy"] in m:
        temp_df5 = temp_df5.append(noSubMo.iloc[i], ignore_index=True)

In [33]:
temp_df5

,Reporting Economy,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,World,3489739.0,3511359.0,3779172.0,3794694.0,4328264.0,5167620.0,5406052.0,5592319.0,5503135.0,...,15303993.0,18343114.0,18513545.0,18968466.0,19010139.0,16560762.0,16046277.0,17746583.0,19559050.0,19019026.0
1,Afghanistan,235.0,189.0,181.0,688.0,105.0,166.0,128.0,144.0,159.0,...,388.0,376.0,429.0,515.0,570.0,571.0,596.0,723.0,875.0,864.0
2,Albania,230.0,100.0,70.0,122.0,140.0,202.0,207.0,139.0,205.0,...,1544.0,1947.0,1967.0,2339.0,2429.0,1917.0,1959.0,2292.0,2870.0,2716.0
3,Algeria,12880.0,12440.0,11510.0,10410.0,8892.0,10258.0,13250.0,13894.0,10209.0,...,57053.0,73489.0,71866.0,64974.0,60061.0,34668.0,30026.0,35191.0,41797.0,35824.0
4,Antigua and Barbuda,21.0,50.0,65.0,62.0,44.0,53.0,38.0,38.0,36.0,...,46.0,56.0,63.0,69.0,99.0,66.0,61.0,21.0,26.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,Panama,340.0,358.0,502.0,553.0,583.0,625.0,623.0,723.0,784.0,...,10987.0,14555.0,15945.0,14732.0,12960.0,11348.0,11195.0,11093.0,11480.0,11318.0
110,Papua New Guinea,1177.0,1460.0,1927.0,2585.0,2632.0,2654.0,2529.0,2163.0,1772.0,...,5742.0,6908.0,6328.0,5951.0,8794.0,8453.0,8194.0,9952.0,10524.0,11399.0
111,Paraguay,959.0,737.0,657.0,725.0,1843.0,2019.0,2182.0,2402.0,2278.0,...,6505.0,7763.0,7283.0,9456.0,9636.0,8357.0,8494.0,8680.0,9045.0,7652.0
112,Peru,3280.0,3393.0,3578.0,3385.0,4424.0,5491.0,5878.0,6825.0,5757.0,...,35803.0,46376.0,47411.0,42861.0,39533.0,34415.0,37082.0,45422.0,49068.0,47690.0
113,Philippines,8117.0,8801.0,9751.0,11129.0,13304.0,17502.0,20408.0,24882.0,29414.0,...,51496.0,48305.0,52099.0,56698.0,62100.0,58827.0,57406.0,68713.0,69307.0,70927.0

In [36]:
temp_df6 = pd.DataFrame()
for i in range(len(m)):
    temp_arr =[temp_df4.iloc[i]['Reporting Economy']]
    for j in range(1990,2020):
        col = str(j)
        percent = round(temp_df4.iloc[i][j] / temp_df5.iloc[i][j] * 100,2)
        temp_arr.append(percent)
    temp_sr = pd.Series(temp_arr, index=np.arange(1990,2021))
    temp_df6 = temp_df6.append(temp_sr, ignore_index=True)
temp_df6.to_excel('의존율_사하라이남_제외.xlsx')